body {
  
    margin: 0;
    display: block;
    height: 100vh;
    background-image: url("../images/ID_home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter:  brightness(40%);
    backdrop-filter:  opacity(20%);
  
  }